.table-product-admin {
  td {
    .ui.image {
      width: 100px;
      height: 60px;
    }

    &.status {
      .icon {
        &.check {
          color: #008000;
        }
        &.close {
          color: red;
        }
      }
    }
  }
}
