.list-products-client{
    display: flex;
    flex: wrap;
    flex-direction: column;

    &__product {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border: 1px solid #000000;
        padding: 5px;
        margin: 10px 0;

        > div {
            display: flex;
            align-items: center;

            .ui.image {
                margin-right: 20px;
                width: 70px ;
                height: 70px;
            }
        }
    }
}
